// Navigation Styles here
.first{
	display:flex;
	justify-content:space-between;
}


nav {
	display:flex;
	justify-content:flex-end;
	margin-left: 5px;
	padding: 20px;
	font-size:1.75rem;
	a{
		margin: 8px;
		justify-content:space-around;
		text-decoration:none;
		color:black;
	}
}
